div.donut {
  display:inline-block;
  margin-top: -8;
  }

div.bars {
  width: 700px;
  height: 81px;
  margin: auto;
}

div.bars svg {
  border: 2px solid #FFE0B2;
}

div.lines {
  height: 200px;
  margin: auto;
  margin-bottom: -8px
}

div.lines svg {
  width: 100%;
  margin-top: 0;
}

html, body {
  margin:0;
  padding:0;
}

#container {
  margin-top: 8%;
}


.logo {
  font-family: 'Kreon', serif;
  font-size: 280px;
  text-align: center;
  color: #727272;
  position: fixed;
  top: 20px;
  left: 10px;
  opacity: 1;
  transition: opacity 3s;
}

.invisible{
  opacity: 0;
}


