div.donut {
  display:inline-block;
  margin-top: -8;
  }

div.bars {
  width: 700px;
  height: 81px;
  margin: auto;
}

div.bars svg {
  border-bottom: 5px solid #888;
}

div.lines {
  height: 200px;
  margin: auto;
  margin-bottom: -8px
}

div.lines svg {
  width: 100%;
  margin-top: 0;
}

span {
  color: red;
}


html, body {
  margin:0;
  padding:0;
  background-color: #F7F7F7;
}

#container {
  margin: auto;
  margin-top: 8%;
}

.logo {
  font-family: 'Kreon', serif;
  font-size: 200px;
  text-align: center;
  color: #727272;
  position: fixed;
  top: 20%;
  left: 15%;
  opacity: 1;
  transition: opacity 5s, font-size 2s;
}

.invisible {
  opacity: 0;
  font-size: 10px;
}
