div.donut {
  display:inline-block;
  /*width: 200px;*/
}

div.bars {
  width: 700px;
  height: 100px;
  margin: auto;
}

div.bars svg {
  border: 2px solid rgb(255,127,14);
}

html, body {
  margin:0;
  padding:0;
}

